img {
	width: 100%;
	object-fit: cover;
	border: 5px solid #ffbf69;
	border-radius: 20px;
	justify-self: center;
	grid-area: img;
	margin-bottom: 0.1em;
}

.info-shop {
	text-align: left;
}

.name-price {
	grid-area: name-price;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	white-space: nowrap;
}

.name-price h2 {
	margin: 0;
	font-size: 1.5rem;
}

.name-price span {
	font-size: 1.2rem;
}

.detalles {
	font-size: 1.2rem;
	text-align: left;
	grid-area: details;
	margin: 0;
}

.h-line {
	width: 100%;
}

article {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 0.4fr 3fr;
	grid-template-areas:
		"img"
		"name-price"
		"details";
	margin: 0 2em 0 2em;
	gap: 0.2em;
	max-width: 70%;
	margin: auto;
}

@media screen and (min-width: 576px) {
	.name-price h2 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
	}
	.name-price span {
		font-size: 1.8rem;
		margin-bottom: 0.5rem;
	}
	.detalles {
		font-size: 1.6rem;
	}
}
