html {
	height: 100%;
	margin: 0;
}

body {
	min-height: 100%;
	margin: 0;
	color: #353535;
	font-family: "Roboto Slab", serif;
	display: flex;
	flex-direction: column;
}

section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	padding: 1.5rem 3em 0 3em;
	color: #ff9f1c;
	background-color: #cbf3f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .title {
	color: #ff9f1c;
	font-size: 3.5rem;
	font-weight: 50;
	font-family: "Lobster", cursive;
	margin: 0;
}

.logo-name {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 1.5rem;
}

.cart {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	margin-right: 1rem;
	margin-bottom: 1.5rem;
	margin-left: 3em;
}

.icono-cart {
	font-size: 2em !important;
	color: #ffbf69;
	transition: 0.5s;
}

.icono-cart:hover {
	color: #ff9f1c;
}

.fa,
.fas {
	font-size: 3.5rem;
	color: #2ec4b6;
}

header navbar ul {
	font-size: 2rem;
	display: flex;
	align-items: center;
	gap: 1em;
	list-style: none;
	margin: 0;
}

.menu {
	margin-bottom: 1.5rem;
}

.menu ul li a {
	color: #2ec4b6;
	font-size: 0.85em;
	transition: 0.5s;
}

.menu ul li a:hover {
	color: #ff9f1c;
}

.hamburger {
	display: none;
}

.checkmenu {
	display: none;
}

@media screen and (max-width: 780px) {
	header {
		padding: 1.5rem 0.8em 0 0.8em;
		flex-wrap: wrap;
	}
	.fa,
	.fas {
		font-size: 2.2rem;
	}
	header .title {
		font-size: 2.2rem;
	}
	.cart {
		font-size: 1.3rem;
	}
	.icono-cart {
		font-size: 1.4em !important;
	}
	.hamburger {
		display: block;
		cursor: pointer;
		margin-bottom: 1.5rem;
	}
	.menu {
		display: none;
	}
	.menu ul li a {
		font-size: 0.65em;
	}
	.checkmenu:checked + .menu {
		display: flex;
		justify-content: end;
		padding-right: 1em;
		width: 100%;
		border-top: 1px solid rgb(83, 83, 83);
		margin-bottom: 0.5rem;
	}
}

.cantidad {
	font-size: 1.2rem;
	width: 3rem;
}

a {
	text-decoration: none;
}

footer {
	font-size: 1.1rem;
	text-align: center;
	background-color: #cbf3f0;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}
