.icono-central {
	color: #ffbf69;
	transition: 1s;
}

.to-hover:hover .icono-central {
	color: #ff9f1c;
	transform: rotate(360deg);
}

.icono-central {
	font-size: 6rem !important;
}

.fade {
	transition: 1s;
}

.visible {
	visibility: visible;
	opacity: 1;
}

article {
	margin-top: 5rem;
}

@media screen and (min-width: 600px) {
	.icono-central {
		font-size: 10rem !important;
	}
	.ver-productos {
		font-size: 2rem;
	}
}
