.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8em;
	margin: auto;
	text-align: center;
	flex-grow: 1;
}

.icono-central {
	color: #ffbf69;
	transition: 1s;
}

.to-hover:hover .icono-central {
	color: #ff9f1c;
	transform: rotate(360deg);
}

.icono-central {
	font-size: 6rem !important;
}

.fade {
	transition: 1s;
}

.visible {
	visibility: visible;
	opacity: 1;
}

@media screen and (min-width: 780px) {
	.icono-central {
		font-size: 10rem !important;
	}
	.ver-productos {
		font-size: 2rem;
	}
}
