.list-container {
	display: flex;
}

.categories-nav {
	background-color: #cbf3f0;
	padding: 1em;
	gap: 0.5em;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.categories-nav label {
	white-space: nowrap;
}

.products-container {
	display: flex;
	flex-grow: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	flex-wrap: wrap;
	padding: 3em 2em 1em 2em;
	min-width: 70%;
}
.product {
	display: flex;
	width: 70%;
	gap: 2em;
	transition: 0.5s;
	box-shadow: none;
	border-radius: 20px;
}

.product:hover {
	transform: translate(0, -3%);
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.59);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.59);
}

.product-info {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.8rem;
}
.product-info h2 {
	margin: 0;
	font-size: 2.5rem;
	text-align: left;
}

.product-info span {
	font-size: 2rem;
}

.product-info a {
	color: #7f8d8c;
	font-size: 1.5rem;
	transition: 0.5s;
}

.product-info a:hover {
	color: #ff9f1c;
}

.img-shop {
	width: 50%;
	max-width: 50vw;
	object-fit: cover;
	border: 5px solid #ffbf69;
	border-radius: 20px;
}

@media screen and (max-width: 780px) {
	.products-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
		flex-wrap: wrap;
		padding: 2em 1em 1em 1em;
		min-width: 90%;
	}
	.img-shop {
		max-width: 20vw;
	}
	.product {
		gap: 0.6em;
		width: 100%;
	}
	.product-info {
		gap: 0rem;
	}
	.product-info h2 {
		margin: 0;
		font-size: 1rem;
	}
	.product-info span {
		font-size: 1rem;
	}
	.product-info a {
		font-size: 1rem;
	}
}
